[Unit]
Description=IBZ TI18 WebTech Sven/Andre
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
WorkingDirectory=/opt/ibzti18/wt-sa-1
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --name %n -p 26661:80 -v $(pwd)/project:/usr/share/nginx/html/project -v $(pwd)/database:/var/lib/mysql ibzproject

[Install]
WantedBy=multi-user.target
